<mat-toolbar color="primary" *ngIf="isAuthenticated">
    <mat-toolbar-row>
      <span class="flex"></span>
      <h1>{{ title }}</h1>
      <span class="flex"></span>
      <div style="margin-right: auto">
        <a mat-button [routerLink]="'/home'"> Home </a>
        <a mat-button [routerLink]="'/admin'" *hasRole="'ADMIN'"> Admin </a>
        <a mat-button [routerLink]="'/user'"> User </a>
        <a mat-button [routerLink]="'/logout'"> Logout </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>