<mat-toolbar class="bg-mat-toolbar">
  <mat-toolbar-row fxLayout="row">
    <div fxFlex="60" fxFlexOffset="15" fxLayout="row">
      <div class="txt-header" fxLayout="row">
        <div><a mat-button [routerLink]="'/home'"><img class="img" src="assets/images/logo-orange.png"></a></div>
        <div class="div-pos"><a mat-button [routerLink]="'/home'" class="header-btn" matTooltip="{{ 'app.tooltip-header.home' | translate }}" matTooltipPosition="right"> <span class="span-pos"
              [translate]="'app.header.home'">Home</span> </a></div>
        <div><a mat-button [routerLink]="'/admin'" class="header-btn" *hasRole="'ADMIN'" matTooltip="{{ 'app.tooltip-header.admin' | translate }}" matTooltipPosition="right"> <span class="span-pos"
              [translate]="'app.header.admin'">Admin</span></a></div>
        <div><a mat-button [routerLink]="'/user'" class="header-btn" matTooltip="{{ 'app.tooltip-header.user' | translate }}" matTooltipPosition="right"> <span class="span-pos" [translate]="'app.header.user'">User</span>
          </a></div>
        <div><a mat-button (click)="logout()" class="header-btn" matTooltip="{{ 'app.tooltip-header.logout' | translate }}" matTooltipPosition="right"> <span class="span-pos" [translate]="'app.header.logout'">Logout</span>
          </a></div>
      </div>
    </div>
    <div fxFlex="20" fxLayout="row">
      <div class="txt-header icon-person-pos">
        <button mat-button matTooltip="{{ username }}" class="header-btn" matTooltipPosition="right">
          <mat-icon>person</mat-icon>
        </button>
      </div>
      <div class="txt-header lang-pos">
        <button matTooltip="{{ 'app.tooltip-header.lang' |translate}}" class="header-btn" matTooltipPosition="right" mat-button
          [matMenuTriggerFor]="menu">{{ translate.currentLang | uppercase}}</button>
        <mat-menu #menu="matMenu">
          <button *ngFor="let lang of translate.getLangs()" (click)="translate.use(lang)"
            mat-menu-item>{{ lang | uppercase }}</button>
        </mat-menu>

      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>