.login {
    height: 100%; 
    position: fixed;
    width: 50%;
    position: relative;
    left: 25%;
}

.login-page {
    height: 80% !important; 
    padding-top: 10%;
    text-align: left; 
    background-color: darkgray;
}

.lang {
    float: right; 
    margin-top: -20%;
}

.login-btn {
    float: right; 
    margin-top: 5%;
}