.base {
    width: 50%;
    height: 100%;
    position: relative;
    left: 25%;
}

.header {
    height: 8%; 
    position: relative;
}

.body {
    height: 80%; 
    position: relative;
}

.footer {
    height: 8%; 
    position: relative; 
    margin: 0;
}